.carousal-container {
    width: 100%;
    height: 199px;
    padding: 20px;
    border: 1px solid gray;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: black;
}
.image-slider-wrapper{
    overflow: hidden;
}
.image_slider{
    position: relative;
    height: 160px;
    padding:0;
}
.image_slider li {
    max-width: 100%;
    float: left;
    list-style: none;
    padding: 10px;
}
.image_slider li img{
    width: 253px;
}
.active{
	display:block;
}
.deactive{
	display:none;
}